In [7]:
#1 Создайте две серии данных Pandas. В первой будут храниться значения в диапазоне [1; 100], а во второй случайные целочисленные значения (равномерное распределение) из диапазона [0,10]. Объедините их в DataFrame.
import numpy as np
import pandas as pd

ser1 = pd.Series(np.arange(1,101))
ser2 = pd.Series(np.random.randint(0,11,size=100))
df = pd.concat([ser1,ser2],axis=1)
df.rename(columns={0:'s1', 1:'s2'}, inplace=True)
df.head()

   s1  s2
0   1   1
1   2   0
2   3   8
3   4   1
4   5   9

In [8]:
#2 Выведите описательную статистику по имеющимся сериям, где в качестве строк выступают названия столбцов.
df.describe().T

    count   mean        std  min    25%   50%    75%    max
s1  100.0  50.50  29.011492  1.0  25.75  50.5  75.25  100.0
s2  100.0   4.84   3.262025  0.0   2.00   4.0   8.00   10.0

In [9]:
#3 Из обеих колонок отнимите среднее значение и поделите на стандартное отклонение (нормализуйте данные). Повторите вывод описательной статистики. 
df = (df-df.mean(axis=0))/(df.std(axis=0))
df.describe()

                 s1            s2
count  1.000000e+02  1.000000e+02
mean   3.552714e-17  3.663736e-17
std    1.000000e+00  1.000000e+00
min   -1.706220e+00 -1.483741e+00
25%   -8.531102e-01 -8.706248e-01
50%    0.000000e+00 -2.575087e-01
75%    8.531102e-01  9.687234e-01
max    1.706220e+00  1.581839e+00

In [10]:
#4 Сделайте масштабирование в каждом столбце в диапазоне от 0 до 1 и выведите описательную статистику, не меняя исходных данных.
df1 = df.copy()
df1 -= df1.min(axis=0)
df1 /= df1.max(axis=0)
df1.describe()

               s1          s2
count  100.000000  100.000000
mean     0.500000    0.484000
std      0.293045    0.326203
min      0.000000    0.000000
25%      0.250000    0.200000
50%      0.500000    0.400000
75%      0.750000    0.800000
max      1.000000    1.000000

In [11]:
#5 Добавьте столбец s3, вычисляемый как произведение столбцов s1 и s2. 
df.insert(2,'s3',df['s1']*df['s2'])
df

          s1        s2        s3
0  -1.706220 -1.177183  2.008533
1  -1.671751 -1.483741  2.480446
2  -1.637282  0.968723 -1.586074
3  -1.602813 -1.177183  1.886804
4  -1.568344  1.275281 -2.000080
..       ...       ...       ...
95  1.568344  0.049049  0.076926
96  1.602813 -0.257509 -0.412738
97  1.637282 -0.564067 -0.923536
98  1.671751  1.581839  2.644442
99  1.706220  0.968723  1.652856

[100 rows x 3 columns]

In [12]:
#6 Сохраните данные в csv-файл, а затем считайте их из него.
df.to_csv('file.csv', index=False)
dfd = pd.read_csv('file.csv')
dfd.head(3)

         s1        s2        s3
0 -1.706220 -1.177183  2.008533
1 -1.671751 -1.483741  2.480446
2 -1.637282  0.968723 -1.586074

In [13]:
#7 Выберите из прочитанного датасета только первый и третий столбцы, у которых значение в третьем столбце положительно.
df.iloc[:,[0,2]][df.iloc[:,2]>0]

          s1        s3
0  -1.706220  2.008533
1  -1.671751  2.480446
3  -1.602813  1.886804
5  -1.533875  1.335430
7  -1.464937  1.724498
9  -1.395999  0.787436
11 -1.327060  0.341730
13 -1.258122  1.866727
15 -1.189184  0.670779
16 -1.154715  1.713298
17 -1.120246  0.631893
19 -1.051308  1.237581
21 -0.982369  1.156428
22 -0.947900  0.534679
23 -0.913431  1.075275
24 -0.878962  0.495793
25 -0.844493  0.735236
26 -0.810024  1.201865
27 -0.775555  0.199712
28 -0.741086  0.645208
29 -0.706617  1.048436
33 -0.568740  0.843863
34 -0.534271  0.792720
36 -0.465333  0.405130
37 -0.430864  0.375121
40 -0.327456  0.084323
41 -0.292987  0.075447
42 -0.258518  0.145822
43 -0.224049  0.195063
44 -0.189580  0.281288
47 -0.086173  0.075024
50  0.017235  0.000845
51  0.051704  0.034236
53  0.120642  0.153852
54  0.155111  0.245361
58  0.292987  0.463459
59  0.327456  0.216830
60  0.361926  0.017752
62  0.430864  0.285303
63  0.465333  0.450779
66  0.568740  0.376600
67  0.603209  0.399424
69  0.672147  0.445073
71  0.741086  0.945093
72  0.775555  0.751298
73  0.810024  1.281328
74  0.844493  1.076966
75  0.878962  1.120924
79  1.016838  1.608475
80  1.051308  1.340713
82  1.120246  1.085208
83  1.154715  1.826573
86  1.258122  1.990147
87  1.292591  1.648418
89  1.361529  1.736333
90  1.395999  0.924382
94  1.533875  2.426344
95  1.568344  0.076926
98  1.671751  2.644442
99  1.706220  1.652856

In [14]:
#8 Отсортируйте данные по убыванию значений в третьем столбце.
df.sort_values(by=['s3'],ascending=False)

          s1        s2        s3
98  1.671751  1.581839  2.644442
1  -1.671751 -1.483741  2.480446
94  1.533875  1.581839  2.426344
0  -1.706220 -1.177183  2.008533
86  1.258122  1.581839  1.990147
..       ...       ...       ...
81  1.085777 -1.177183 -1.278158
2  -1.637282  0.968723 -1.586074
85  1.223653 -1.483741 -1.815584
14 -1.223653  1.581839 -1.935623
4  -1.568344  1.275281 -2.000080

[100 rows x 3 columns]

In [15]:
#9 Добавьте столбец 4, как линейную сумму столбца 3 с некоторыми заданными коэффициентами (ax+b) и случайной добавкой (r). Определите корреляцию между всеми столбцами. r - равномерное число [0,1).
a = 1
b = 2
dfd.insert(3,'s4',dfd['s3']*a+np.random.rand())
dfd

          s1        s2        s3        s4
0  -1.706220 -1.177183  2.008533  2.640435
1  -1.671751 -1.483741  2.480446  3.112348
2  -1.637282  0.968723 -1.586074 -0.954172
3  -1.602813 -1.177183  1.886804  2.518706
4  -1.568344  1.275281 -2.000080 -1.368178
..       ...       ...       ...       ...
95  1.568344  0.049049  0.076926  0.708828
96  1.602813 -0.257509 -0.412738  0.219163
97  1.637282 -0.564067 -0.923536 -0.291635
98  1.671751  1.581839  2.644442  3.276344
99  1.706220  0.968723  1.652856  2.284757

[100 rows x 4 columns]

In [34]:
#10 Найдите евклидово расстояние между двумя произвольными Series (точками) a и b? При этом a и b соответствуют случайно выбранным строкам из DataFrame.
sam = df.sample(2)
np.linalg.norm(np.array(sam.iloc[0]) - np.array(sam.iloc[1]))

1.8620489114815013

In [17]:
#11 Определите частоту уникальных значений во всём DataFrame
len_df = dfd.shape[0]
dfnan = dfd.nunique()
(dfnan[0]/len_df)*(dfnan[1]/len_df)*(dfnan[2]/len_df)

0.1

In [40]:
#12 Создайте словарь, ключами которого являются «Имя», «Возраст», «Рост» и «Пол», а элементами – списки соответствующих значений. На основе данного словаря создайте DataFrame и сгруппируйте средние значения показателей по полу.
nick = {'Имя': ['Настя', 'Таня', 'Антон', 'Хадя', 'Александр_я_хюррем', 'Айдар'],
        'Рост': [165,170,178,168,145,176],
        'Возраст': [19,18,18,20,58,19], 
        'Пол': ['Ж','Ж','М','Ж','М','М']}
df_n = pd.DataFrame(nick)
df_n

                  Имя  Рост  Возраст Пол
0               Настя   165       19   Ж
1                Таня   170       18   Ж
2               Антон   178       18   М
3                Хадя   168       20   Ж
4  Александр_я_хюррем   145       58   М
5               Айдар   176       19   М

In [42]:
df_n.groupby('Пол', as_index=False).mean()

  Пол        Рост    Возраст
0   Ж  167.666667  19.000000
1   М  166.333333  31.666667

In [53]:
#13 Получите расширенное представление данных с распределением по полу, в котором недостающие позиции заменяются значениями NaN. Например, вход и выход должны выглядеть так: (pivot - таблицы). 
df_n.pivot(columns='Пол').fillna(0)

       Имя                       Рост        Возраст
Пол      Ж                   М      Ж      М       Ж     М
0    Настя                   0  165.0    0.0    19.0   0.0
1     Таня                   0  170.0    0.0    18.0   0.0
2        0               Антон    0.0  178.0     0.0  18.0
3     Хадя                   0  168.0    0.0    20.0   0.0
4        0  Александр_я_хюррем    0.0  145.0     0.0  58.0
5        0               Айдар    0.0  176.0     0.0  19.0